/*
 * Author: 卓文理
 * Email: zhuowenligg@gmail.com
 * Date: 2020-06-12 15:55:58
 */

.app {
    background: #f2f2f2;
}

.tabbar {
    margin-top: 20px;
    padding: 0;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: center;
    li {
        position: relative;
        display: block;
        height: 50px;
        width: 80px;
        text-align: center;
        line-height: 50px;
        background: #dff1e7;
        margin: 5px;

        .link {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.btn {
    display: block;
    margin: 15px auto;
    width: 250px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 16px;
    background: #dff1e7;
    border-radius: 5px;
}
